.peaceful {
    width: 1440px;
    margin: 0 auto;
}


.container-peaceful {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-play {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 33px;
}

.peaceful-title {
    margin: 0;
    width: 369px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    color: #222222;
    margin-bottom: 23px;
}

.peaceful-info {
    width: 400px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #222222;
    margin-bottom: 12px;
}



.content-play {
    display: flex;
    align-items: center;
}

.ico-play {
    margin-right: 7px;
    width: 29px;
    height: 29px;

}



.apple__icons {
    margin-bottom: 20px;
}

.google__icons {}






.icon {}

.ico-play {}

.content-play__ {}





.plate {}

.apple__icons {}

.google__icons {}